.sidebar {
    width: 230px;
    background: linear-gradient(180deg, #1e3a8a, #2563eb);
    padding: 20px;
    color: white;
}

    .sidebar h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .sidebar button {
        width: 100%;
        padding: 12px;
        margin-bottom: 10px;
        background: rgba(255,255,255,0.15);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

        .sidebar button.active,
        .sidebar button:hover {
            background: rgba(255,255,255,0.35);
        }
